<div class="jumbotron">
  <h2>Gestion de Resumenes EIS</h2>
  <p class="lead">Bienvenido! Quieres revisar las clases impartidas:
	</br>
  <a class="btn btn-large btn-success" href="<%= url(:resumenes, :latest) %>" >Ver Resumenes</a>
</div>
